<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--
        "configuration" must match
        "(properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,plugins?,environments?,mappers?)".
    -->

    <properties>
        <property name="dialect" value="com.jd.common.orm.dialect.MySQLDialect"/>
    </properties>


    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="defaultStatementTimeout" value="20"/>
    </settings>

    <mappers>
        <mapper resource="mybatis/mysql/UserMapper.xml"/>

    </mappers>

</configuration>